<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link rel="shortcut icon" href="img/favorite.ico">
	<meta name='format-detection' content='telephone=no'>
	<!-- UC强制全屏 -->
	<meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
     <!--PWA相关-->
    <!-- <meta name="theme-color" content="#ace">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon-precomposed" sizes="192x192" href="../static/img/mango.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="../static/img/mango.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../static/img/mango.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/img/mango.png"> -->
    <!-- <link rel="manifest" href="../../manifest.json"> -->

	<link rel="stylesheet" type="text/css" href="./css/reset.css">
	<!-- <link rel="stylesheet" type="text/css" href="/css/all.css"> -->
	<link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
	<title><%= nav %></title>
	<style type="text/css">
		.container-wrap{
			position: relative;
			height: 100%;
			overflow: hidden;
		}
		.container-scroll{
			position: absolute;
			top: 45px;
			bottom: 0;
			left: 0;
			right: 0;
			overflow-y: scroll;
		}
	</style>
</head>
<body>
	<% include include/loading.ejs %>
	<div id='app' :style="{width:screen_width+'px'}" style='overflow: hidden'>
		<% include include/header.ejs %>
		<div class="swiper-container swiper-a">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class='container-wrap' :style="{width:screen_width+'px'}" v-cloak>
						<div class="container-scroll" style="top:0px;">
							<% include include/index-top.ejs %>
							<% include include/index-hot.ejs %>
							<% include include/index-recommend.ejs %>
							<% include include/index-female.ejs %>
							<% include include/index-male.ejs %>
							<% include include/index-free.ejs %>
							<% include include/index-bottom.ejs %>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div :style="{width:screen_width+'px'}" style="overflow:auto">
						<% include include/index-shelf.ejs %>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript" src="./script/plugins/vue.js"></script>
	<script src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>
	<script src="./script/plugins/swiper.min.js"></script>
	<script type="text/javascript" src="./script/plugins/zepto.js"></script>
	<script type="text/javascript" src="./script/pages/index.js"></script>
</body>
</html>