<section class="channel-h5 channel-h5_next">
	<div class='channel-h5_header'>
		<p class="channel-h5_title channel-group_title_left">男生最爱</p>
	</div>
	<div class="Fade list-h5_wrap">
		<div style="visibility: visible;">
			<ul class="list-h5">
				<li v-for="item in male">
					<div class="book-h5">
						<a href="/book?id={{ item.fiction_id }}">
							<div class="book-h5_cover">
								<img alt="{{ item.title }}" v-bind:src="item.cover">
								<p class="book-h5_finish">完结</p>
							</div>
							<div class="book-h5_info">
								<p class="book-h5_title">{{ item.title }}</p>
								<p class="book-h5_author">{{ item.author }}</p>
								<p class="book-h5_summary">{{ item.summary }}</p>
								<div class="book-h5_wrap">
									<div class="book-h5_tag" v-for="tag in item.tags" v-if="$index > 0 && $index < 4">{{ tag }}</div>
								</div>
							</div>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="channel-h5_footer_next">
		<a href="javascript:" class="btn-h5_next">换一换</a>
		<a href="/male" class="btn-h5_more">男生频道&gt;&gt;</a>
	</div>
</section>