<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<title><%= nav %></title>
	<link rel="stylesheet" href="/css/reset.css">
</head>
<body>
	<div id='app' :style="{width:screen_width+'px'}" style='overflow: hidden'>
		<% include include/common-header.ejs %>
		<div class='container-scroll' :style="{width:screen_width+'px'}">
			<div class="book-page">
				<section class="main-card" style="border-bottom:none;">
					<div class="u-book -detail">
						<div class="book-cover">
							<img :title="item.title" :src="item.cover">
						</div>
						<div class="info">
							<h3 class="title" v-cloak>{{ item.title }}</h3>
							<p class="author" v-cloak>{{ item.authors }}</p>

							<div class="u-grade">
								<span v-cloak class="read">{{ item.score_count }}个评价</span>
							</div>

							<p class="price" v-cloak>
								价格：{{ item.price }}书币 / 千字
							</p>

							<p class="count" v-cloak>字数:{{ item.word_count }}字
								<span class="u-boottag-serial">连载中</span>
							</p>
						</div>
					</div>
				</section>
				<section class="main-card">
					<div class="book-dash">
						<div class="wrap">
							<ul class="btn-group">
								<li class="u-btn2" v-on:click="readBook()">
									<span class="book-dash_text"></span>
								</li>
							</ul>
						</div>
					</div>
					<div class="u-folder">
						<div class="floder-cnt" v-cloak>
							{{ item.summary }}
						</div>
						<div class="folder-tail" v-cloak>
							<div>最新：{{ item.latest }}</div>
						</div>
					</div>
				</section>
				<section class="main-card">
					<div class="u-title">
						
					</div>
				</section>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="./script/vue.js"></script>
	<script type="text/javascript" src="./script/zepto.js"></script>
	<script type="text/javascript" src="./script/pages/book.js"></script>
</body>
</html>