<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<!-- UC强制全屏 -->
	<meta name="full-screen" content="yes">
	<link rel="shortcut icon" href="img/favicon.ico">
	<link rel="stylesheet" href="/css/all.css"/>
	<title><%= nav %></title>

	<style type="text/css">
	.top {
		position: relative;
		height: 44px;
		border-bottom: 1px solid #ddd;
		font: 15px/45px a;
		color:rgba(0,0,0,0.7);
		background-color: #efeff0;
	}
	.top_back {
		float: left;
		width: 42px;
		height: 44px;
	}
	.top_back:before {
		content: '';
		display: block;
		margin: 15px 0 0 16px;
		width: 10px;
		height: 16px;
		background:url(/img/back.png) no-repeat;
		background-size: 10px 16px;
	}

	.header-home {
		float: right;
		width: 44px;
		height: 44px;
		background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01eZH42sBV7/QTS90E2ZVritaa.png) no-repeat center;
		background-size: 16px;
	}
</style>
</head>
<body>
	<div >
		<div class="Swipe Swipe_full Destructor" id="app_chapter">
			<div :style="{width: screen_width + 'px'}">
				<div :style="{width: screen_width + 'px'}">
					<div class="top" >
						<a class="top_back" :href="'/reader?fiction_id='+ item.fiction_id +'&chapter_id='+ chapter_id"></a>
						<span class="top_title"><%=nav%></span>
						<a class="header-home" href="/"></a>
					</div>

					<div class="Swipe Swipe_full container-scroll Destructor">
						<div :style="{width: double_screen_width + 'px'}">
							<div :style="{width: screen_width + 'px'}">
								<div class="new-page channel-page" >
									<section class="channel-group main-card" v-for="section in item.toc">
										<a href="'/reader?fiction_id='+ item.fiction_id +'&chapter_id='+ $index">
											<div class="channel-group_header">
												<h2 class="channel-group_title channel-group_title_left">{{section.title}}</h2>
											</div>
										</a>
									</section>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/script/vue.js"></script>
	<script src="/script/zepto.js"></script>
	<script type="text/javascript" src="/script/utils.js"></script>
	<script src="/script/pages/catolog.js"></script>
</body>
</html>